@import './variables.css';

.todo-item-container {
    background-color: var(--background-color);
    border: 0.15em solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: var(--margin-bottom);
    color: var(--text-color);
    font-family: var(--font-family);
}

.todo-item-container h3 {
    margin: 0;
    color: var(--primary-color);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-bottom);
}

.completed-button, .remove-button {
    background-color: var(--button-background-color);
    border: 0.15em solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color var(--transition-duration), color var(--transition-duration), transform var(--transition-duration);
}

.completed-button:hover, .remove-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: scale(1.05);
}
