@import './variables.css';

.list-wrapper {
    background-color: var(--secondary-background-color);
    border: 0.15em solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    max-width: 38em;
    margin: 0 auto;
    color: var(--text-color);
    font-family: var(--font-family);
    box-shadow: var(--box-shadow);
}

.section {
    margin-bottom: var(--padding);
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-background-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
}
